{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block about %}
<section>
    <div class="container">
        <h2 class="text-center p-4">Vision</h2>
        <div class="row justify-content-center border-bottom">
                <p class="text-center">“ To achieve academic excellence in Architecture and Planning through innovating, creating, acquiring and disseminating knowledge using sustainable local and global practices and enhancing the quality of society through responsible built environment. ”</p>
                <div class="col-4 justify-content-center"><img src="{% static 'img/vision.jpg' %}"  alt="" class="img-fluid"></div>
        </div>
        <div class="row">
            <h2>About SPAV</h2>
            <p>SPA Vijayawada is one of the three institutes of national importance, under the Ministry of Education (MoE), Government of India, offering education in the fields of Planning and Architecture. The School has distinguished itself and has grown as a role model in the professional education offering undergraduate, post graduate and doctoral programmes in the fields of planning and architecture, while at the same time fostering quality research in these domains. SPA Vijayawada is ranked one of the best technical institutes in the country by National Survey and Ranking, India Today Group, as well as holds the 8th Position in NIRF Ranking nationwide for Architecture. The campus is green rated and is equipped with state-of-the-art infrastructure such as hostels,central library, ICT enabled teaching atmosphere, high end digital surveillance systems, modern laboratories, spacious studios, classrooms, open air theatres, auditorium, cafeteria, outdoor sports facilities, etc.</p>
            <p>All efforts are being made to develop the School as a place of excellence for innovation, creativity and research through the architecture and planning domains.Faculty members are constantly involved in various academics, research and developmental activities of the School.</p>
            <p>At SPA Vijayawada, academic degree programmes are designed to address physical, socio-economic and environmental challenges, so as to achieve future sustenance and hence to cater to the specific needs of the industry and academics. The key objective of these courses is to equip the students with adequate skills required, such as :-</p>
            <h1 class="bg-danger p-4">Will be added more......</h1>
        </div>
    </div>
</section>
{% endblock about %}