<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | mydjango-project </title>
    <!-- bootstrap includes  -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <!-- bootstrap includes  -->
</head>
<body>
    


    <!-- bootstrap js  -->
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- bootstrap js  -->
</body>
</html>